body{
    box-sizing: border-box;
    margin: 0;
}
nav{

    display: flex;
    background-color: bisque;
    font-size: 25px;
    height: 100px;
 
}

nav li{

    margin-top: 20px ;
    list-style: none;
    padding: 10px   ;
}
.day1{
    background-color: #BEBEBE	;
    padding: 5px;
    text-align: center;
  
}
.Fontc{
    color: aliceblue;   
  
}

.day2{
    background-color: red;
    padding: 5px;
    text-align: center;
}